.embla {
    max-width: 18rem;
    margin: auto;
    --slide-height: 10rem;
    --slide-spacing: 0rem;
    --slide-size: 100%;
  }
  
  @media (min-width: 768px) {
    .embla {
      max-width: 40rem;
  
    }
  }
  
  .embla__viewport {
    overflow: hidden;
  }
  
  .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  
  .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    max-width: 100%;
    /* padding-left: var(--slide-spacing); */
  }
  
  @media (min-width: 768px) {
    .embla__slide {
      flex: 0 0 60%;
      margin-right: 20px;
    }
  }
  
  .embla__slide__number {
    width: fit-content;
    /* box-shadow: inset 0 0 0 0.2rem;
      border-radius: 1.8rem;
      font-size: 1rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--slide-height); */
  }
  
  .embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
  }
  
  .embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
  }
  
  .embla__button {
    -webkit-tap-highlight-color: rgba(192, 192, 192, 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.1rem rgb(21, 120, 176);
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: rgb(21, 120, 176);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .embla__button:disabled {
    color: rgb(69, 69, 69);
  }
  
  .embla__button__svg {
    width: 35%;
    height: 35%;
  }
  
  .embla__progress {
    border-radius: 1.8rem;
    box-shadow: inset 0 0 0 0.2rem rgb(192, 192, 192);
    background-color: #0f172a;
    position: relative;
    height: 0.6rem;
    justify-self: flex-end;
    align-self: center;
    width: 13rem;
    max-width: 90%;
    overflow: hidden;
  }
  
  .embla__progress__bar {
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: -100%;
  }